<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Snake.Properties.Settings.scoresConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\STOR01\gebruikersdata\midiz\Documents\scores.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>